<form action="/coach" method="get">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>

<input type="text"
       name="member"
       value="<%= params[:answer] %>"
       placeholder="Coach response here.">
