<p>Write "I'm going to work."
<form action="/coach" method="get">
  <input type="text" name="question" placeholder="Write something.">
  <input type="submit" value="Submit">
</form>
<p>Coach response:</p>
<input type="text" name="reply" value="<%= params[:reply] %>">
